<p class="quotes-title">Quotes of Life</p>

<div class="quotes-container">
  <div *ngFor="let quote of quotes" class="quote-card" [ngClass]="{'highlighted-quote': quote.highlighted}">
    <div class="quote-content">
      <p class="quote-text">"{{ quote.quote }}"</p>
      <div class="divider"></div>
      <ul class="quote-details">
        <li class="quote-author"><span>Author:</span> {{ quote.author }}</li>
        <li class="quote-title"><span>Title:</span> {{ quote.title }}</li>
        <li class="quote-published"><span>Published:</span> {{ quote.published }}</li>
      </ul>
    </div>
  </div>
</div>
